body {
    background-color: #FAF2E7;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid #1D3F36;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    color: #1D3F36;
}

header h1 {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.task-constructor {
    padding: 30px;
    border-bottom: 20px solid #1D3F36;
}