.todo-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100vh;
}

.todo-column-title {
    text-align: center;
}

.todo-column-title h2 {
    margin: 0;
    padding-top: 10px;
}

.todo-column-empty {
    text-align: center;
    font-size: 1.5em;
}